


      .cls-2 {
        fill: rgb(255, 255, 255);
      }
      

      .cls-3 {
        fill: rgb(255, 255, 255);
      }
      
      .cls-3, .cls-4 {
        fill: none;
        stroke: rgb(255, 255, 255);
        stroke-miterlimit: 10;
      }

      .cls-5 {
        fill: rgb(255, 255, 255);
      }

      .cls-4 {
        stroke-width: 2px;
      }

  
      
      .cls-7 {
        fill: rgb(255, 255, 255);
      }

      .cls-8 {
        fill: rgb(255, 255, 255);
      }
    
     

      .cls-10 {
        fill: rgb(255, 255, 255);
      }

      .cls-11 {
        fill: rgb(255, 255, 255);
      }
      
    
      

      .cls-16 {
        stroke: rgb(255, 255, 255);
      }

      .cls-16, .cls-17 {
        fill: none;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }

      .cls-17 {
        stroke: rgb(255, 255, 255);
      }
 
     #svg1:hover{
      scale: 90%;
      
     }
     #svg2:hover{
      scale: 90%;
     }
     #svg3:hover{
      scale: 90%;
     }
     #svg4:hover{
      scale: 90%;
     }
     #svg5:hover{
      scale: 90%;
     }